<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="clearpayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Clearpay\Clearpay\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Clearpay\Clearpay\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">clearpayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">clearpayCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="clearpayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Clearpay\Clearpay\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <!--virtualType name="clearpayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">clearpayConfig</argument>
        </arguments>
    </virtualType>
    <type name="Clearpay\Clearpay\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">clearpayLogger</argument>
        </arguments>
    </type-->
    <virtualType name="clearpayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">clearpayAuthorizeCommand</item>
                <item name="capture" xsi:type="string">clearpayCaptureCommand</item>
                <item name="void" xsi:type="string">clearpayVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="clearpayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">clearpayAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">clearpayResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Clearpay\Clearpay\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Clearpay\Clearpay\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>
    <virtualType name="clearpayAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Clearpay\Clearpay\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">Clearpay\Clearpay\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Clearpay\Clearpay\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">clearpayConfig</argument>
        </arguments>
    </type>
    <virtualType name="clearpayCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Clearpay\Clearpay\Gateway\Request\CaptureRequest</argument>
            <argument name="handler" xsi:type="object">Clearpay\Clearpay\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Clearpay\Clearpay\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Clearpay\Clearpay\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Clearpay\Clearpay\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>
    <type name="Clearpay\Clearpay\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">clearpayConfig</argument>
        </arguments>
    </type>
    <virtualType name="clearpayVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Clearpay\Clearpay\Gateway\Request\VoidRequest</argument>
            <argument name="handler" xsi:type="object">Clearpay\Clearpay\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Clearpay\Clearpay\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Clearpay\Clearpay\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Clearpay\Clearpay\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>
    <type name="Clearpay\Clearpay\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">clearpayConfig</argument>
        </arguments>
    </type>
    <virtualType name="clearpayResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Clearpay\Clearpay\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">Clearpay\Clearpay\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="clearpayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">clearpayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="clearpayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">clearpayConfig</argument>
        </arguments>
    </virtualType>
    <type name="Clearpay\Clearpay\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">clearpayConfig</argument>
        </arguments>
    </type>
    <type name="Clearpay\Clearpay\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Clearpay\Clearpay\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">clearpayLog</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Clearpay\Clearpay\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
