<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="pagantisFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Pagantis\Pagantis\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Pagantis\Pagantis\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">pagantisValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">pagantisCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="pagantisConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Pagantis\Pagantis\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <!--virtualType name="pagantisLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">pagantisConfig</argument>
        </arguments>
    </virtualType>
    <type name="Pagantis\Pagantis\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">pagantisLogger</argument>
        </arguments>
    </type-->
    <virtualType name="pagantisCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">pagantisAuthorizeCommand</item>
                <item name="capture" xsi:type="string">pagantisCaptureCommand</item>
                <item name="void" xsi:type="string">pagantisVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="pagantisAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">pagantisAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">pagantisResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Pagantis\Pagantis\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Pagantis\Pagantis\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>
    <virtualType name="pagantisAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Pagantis\Pagantis\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">Pagantis\Pagantis\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Pagantis\Pagantis\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">pagantisConfig</argument>
        </arguments>
    </type>
    <virtualType name="pagantisCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Pagantis\Pagantis\Gateway\Request\CaptureRequest</argument>
            <argument name="handler" xsi:type="object">Pagantis\Pagantis\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Pagantis\Pagantis\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Pagantis\Pagantis\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Pagantis\Pagantis\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>
    <type name="Pagantis\Pagantis\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">pagantisConfig</argument>
        </arguments>
    </type>
    <virtualType name="pagantisVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Pagantis\Pagantis\Gateway\Request\VoidRequest</argument>
            <argument name="handler" xsi:type="object">Pagantis\Pagantis\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Pagantis\Pagantis\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Pagantis\Pagantis\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Pagantis\Pagantis\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>
    <type name="Pagantis\Pagantis\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">pagantisConfig</argument>
        </arguments>
    </type>
    <virtualType name="pagantisResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Pagantis\Pagantis\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">Pagantis\Pagantis\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="pagantisValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">pagantisConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="pagantisConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">pagantisConfig</argument>
        </arguments>
    </virtualType>
    <type name="Pagantis\Pagantis\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">pagantisConfig</argument>
        </arguments>
    </type>
    <type name="Pagantis\Pagantis\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Pagantis\Pagantis\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">pagantisLog</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Pagantis\Pagantis\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
