<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div>
        <script type="text/javascript">
            if (typeof pmtClient !== 'undefined') {
                pmtClient.setPublicKey('<?=$publicKey?>');
                pmtClient.events.send('checkout', { basketAmount: '<?=$amount?>' } );
            }
        </script>
        <?php if($simulatorType) { ?>
        <div id="payment_form_<?=$_code?>" style="display: none">
            <div id="paylater-checkout">
                <div class="PmtSimulator"
                     data-pmt-num-quota="4" data-pmt-max-ins="12"
                     data-pmt-type="<?=$simulatorType?>"
                     data-pmt-amount="<?=$amount?>" data-pmt-expanded="<?php if ($simulatorType == 1) echo 'no'; else echo 'yes'; ?>">
                </div>
            </div>
        </div>
        <script type="text/javascript">
            if (typeof pmtClient !== 'undefined') {
                pmtClient.simulator.reload();
            }
        </script>
        <!-- TODO: put simulator here, change php for javascript variables -->
    </div>
    <div class="payment-method-content">
        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="review-save"
                        type="submit"
                        data-bind="
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        click: placeOrder,
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        class="action primary checkout"
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>