<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="pagantis" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pagantis</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="backoffice_button" type="button" translate="button_label" sortOrder="2" showInDefault="1" showInWebsite="1">
                    <attribute type="button_label">Go to Pagantis</attribute>
                    <attribute type="button_url">
                        <![CDATA[https://bo.pagamastarde.com]]>
                    </attribute>
                    <attribute type="button_credentials_label">Get Credentials</attribute>
                    <attribute type="button_credentials_url">
                        <![CDATA[https://bo.pagamastarde.com/shop]]>
                    </attribute>
                    <frontend_model>Pagantis\Pagantis\Model\Adminhtml\Source\ConfigButtonLinkType</frontend_model>
                </field>
                <field id="pagantis_public_key" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Public API Key(*)</label>
                    <comment>MANDATORY. You can get this credential from your Pagantis profile.</comment>
                </field>
                <field id="pagantis_private_key" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Private API Key(*)</label>
                    <comment>MANDATORY. You can get this credential from your Pagantis profile.</comment>
                </field>
                <field id="product_simulator" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Product Simulator</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Use installment simulator in product page (Disabled for Magento V2.3)</comment>
                </field>
            </group>
        </section>
    </system>
</config>